h1 {
    color:black;
    font-size: 40px;
    text-align: center;
}

#div1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
}

#pdf {
    width: 50%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}